@charset "utf-8";
/* CSS Document */


.logo_air{
    background-image: url(../images/logoSprite-1X.png?v=07102015);
    width: 30px;
    height: 30px;
    display: inline-block;
}
/*spice jet*/
.LSG_sm {
    background-position: -60px 0;
}

/*Air India*/
.LAI_sm {
    background-position: -120px 0;
}

/*Jet Airways*/
.L9W_sm {
    background-position: -150px 0;
}

/*Indigo*/
.L6E_sm {
    background-position: 0 0;
}

/*Multiple*/
.LMA_sm {
    background-position: -300px 0;
}

/*Air Pegasus*/
.LOP_sm {
    background-position: -330px 0;
}

/*Air Asia*/
.LI5_sm {
    background-position: -180px 0;
}

/*Go Air*/
.LG8_sm {
    background-position: -90px 0;
}

/*Vistara*/
.LUK_sm {
    background-position: -30px 0;
}

/*Air Costa*/
.LLB_sm {
    background-position: -210px 0;
}

/*Trujet*/
.L2T_sm 
{
    background-position: -360px 0;
}





