@charset "utf-8";
/* CSS Document */


.white_box {
    border-right: 2px solid #d6d6d6;
    border-bottom: 2px solid #d6d6d6;
    background: #fff;
    margin-bottom: 10px;
}
.snbbox {
    display: table;
    cursor: pointer;
    width: 100%;
    padding-right: 0;
    clear: both;
}
.multi_img_icon {
    width: 36px;
    height: 24px;
    z-index: 1;    
    background: url(../../../themes/bo_theme/images/Quikr.png) no-repeat scroll -111px -42px transparent;
    position: absolute;
    top: 282px;
    left: 112px;
    color: #fff;
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    padding-left: 6px;
    padding-top: 2px;
}
.newsnbbxnoclr {
    padding: 10px;
    margin: 7px 0 0 !important;
}
/** {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}*/
.snb_img_container {
    width: 23%;
    float: left;
	padding-top:20px;
	padding-left:10px;
}
.snb_img_box {
    overflow: hidden;
    box-shadow: 0 0 1px #999;
}
.imgtd1 {
    width: 132px;
    height: 101px;
    margin: 2px 5px 2px 0;
    float: left;
    border: 1px solid #f2f2f2;
    background: none repeat scroll 0 0 #fff;
    text-align: center;
}
.quikrsnb_listboxphoto {
    width: 132px;
    height: 101px;
    display: table-cell;
    vertical-align: middle;
}
.img-grayborder {
    border: 1px solid #f9f9f9;
}
.quikrsnb_listboxphoto {
    width: 132px;
    height: 101px;
    display: table-cell;
    vertical-align: middle;
}
.snb_ad_container {
    width: 30%;
    padding-right: 1%;
    float: left;
}
.adtitlesnb {
    font-size: 20px;
    padding-left: 0;
    margin-right: 6px;
    line-height: 23px;
    /*height: 50px;*/
    overflow: hidden;
}
a.citylbl-link:link, a.citylbl-link:visited, a.citylbl-link:active {
    color: #053399;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.snb_ad_detail {
    padding: 5px 0 0 0;
    font-weight: normal;
    line-height: 18px;
    color: #7d7d7d;
    font-size: 18px;
    position: relative;
    clear: both;
}
.chicklet_wrapdiv {
    float: left;
}
.chicklet_div {
    float: left;
    font-size: 16px;
    line-height: 18px;
    padding: 3px 4px 0 0;
}
.chiclet_separator {
    color: #000;
    float: left;
    padding-right: 4px;
}
.snb_price_wapp {
    float: left;
    width: 15%;
    text-align: right;
}
.snb-price {
    font-size: 14px;
    font-weight: bold;
    margin-top: -5px;
    padding: 0 10px 0 0;
}
.snb_price_tag {
    line-height: 25px;
    width: 120px;
    text-align: right;
    font-size: 14px;
    clear: both;
}
.snb_msp {
    width: 120px;
}
.snb_date_wapp {
    float: left;
    width: 15%;
    text-align: left;
}
.a1d1top .datef, .ad .datef {
    font-family: arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #0547ab;
    font-style: italic;
    white-space: nowrap;
    font-weight: normal;
}
.snb_date {
    font-weight: normal;
    font-style: italic;
    line-height: 25px;
    color: #6a6a6a;
}
a.unbold:link, a.unbold:hover, a.unbold:active, a.unbold:visited {
    font-weight: normal;
}
a.adttllnk:link, a.adttllnk:hover, a.adttllnk:active, a.adttllnk:visited {
    color: #005cce;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    padding: 10px 0 5px;
    text-align: left;
}
.sliderWrapper {
    position: static;
    height: auto;
    min-height: 340px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%!important;
}
#carouselCont {
    width: 100%!important;
    max-width: 500px;
}
.sliderCont {
    margin: 0 36px 1px;
    padding: 0;
    position: relative;
}
.prodInfo {
    z-index: 2;
    top: 33px;
}
.prodInfo, .zoom {
    position: absolute;
}
.leftTopWrapper .close-slider-popup, .sellerDetails .chatblock, .sliderShow .zoom, sliderShow {
    display: none!important;
}
#sync1 {
    max-height: 294px;
    overflow: hidden;
}
#sync1, .zoom {
    z-index: 1;
}
.owl-carousel {
    display: block;
    position: relative;
    width: 90%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-wrapper-outer {
    padding-bottom: 2px;
}
/*.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}*/
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
}
.owl-carousel .owl-item {
    margin-right: 1px;
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}
.owl-carousel .owl-item {
    float: left;
}
#sync1 .slider {
    width: 97%;
    max-width: 500px;
  /*  webkit-border-radius: 3px;
    moz-border-radius: 3px;*/
    border-radius: 3px;
    float: left;
    height: 275px;
    background-color: #ddd!important;
}
#sync1 .slider, #sync2 .slider {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
}
.slider {
    width: 99.5%;
    margin: 0;
    background-color: #fff;
    background-size: cover;
    border-radius: 3px;
}
.slider {
    /*background: url(../../image/view_ad_page/Logobackground.png) center no-repeat!important; */
    cursor: pointer;
    height: 276px;
}
#sync1 .lazyOwl {
    max-height: 100%;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
    float: none;
}
#sync2 .slider {
    width: 120px;
    height: 120px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    background-size: 100% 100%;
}
#sync2 .synced img.lazyOwl {
    border: 2px solid #008bcf;
    border-radius: 2px;
}
#sync2 .lazyOwl {
    background-size: 100% 100%;
    width: 90px;
    height: 70px;
    border-radius: 3px;
}
#sync2 .owl-controls {
    margin-top: 0!important;
    height: 30px;
}
.owl-theme .owl-controls {
    margin-top: 30px;
    text-align: center;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    display: block!important;
}
.leftTopWrapper {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    border-radius: 3px;
	box-sizing: border-box;
}
.cont-vap {
    padding: 0!important;
}
.cont-vap {
    font-size: 16px!important;
    background: #f8f8f8;
}
.breadcrumb {
    font-size: 14px!important;
    margin: 0 auto;
    padding: 0 12px;
    float: left;
}
.breadcrumb {
    padding: 15px 25px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #ddd;
    border-radius: 4px;
}
ol, ul {
    list-style: none;
}
.breadcrumb>li {
    display: inline-block;
}
/*a:visited {
    color: #008bcf;
}
a, a:active, a:focus, a:hover, a:visited {
    text-decoration: none;
}*/
.breadcrumb>.active {
    color: #777;
}
#sync2 .owl-buttons div.owl-next:after, #sync2 .owl-buttons div.owl-prev:after, .QkrStorageText:before, .YtubeIcon, .addImg, .backBtn, .backToSearch:before, .buyer_icon_offline, .buyer_icon_online, .centerImg, .chatIcon2, .chatNowText:before, .chatText:before, .chatblock, .colapseImg, .expandImg, .expandImg2, .extendBlock1:before, .extendBlock2:before, .extendBlock3:before, .firstPay, .flag, .freeDev:before, .homeico, .locationIcon, .locationText:after, .locations .locationText:before, .navrArows a.leftArrow, .navrArows a.rightArrow, .offerImg, .offerImgDown, .owl-buttons div.owl-next:after, .owl-buttons div.owl-prev:after, .priceTrend:before, .priceTrendIcon, .quikrLogo, .scannerIcon:before, .share, .sitback, .statusOffline, .statusOnline, .storeBtn:after, .strImg, .verifImg, .verification .verifImg1, .videoCloseBtn, .warrantyArea:before, .warrantyText:after, .zoom:before {
	background: url(../../../themes/bo_theme/images/sprite_vap.png)  no-repeat;
}
.leftBottomWrapper {
    padding: 0 0 15px 10px!important;
    top: 2px;
    min-height: 200px;
    clear: both;
    margin: 0 0 20px;
    background: #FFF;
    border: 1px solid #eee;
    border-radius: 3px;
    position: static;
}
.descriptionArea {
    height: auto;
}
.descriptionArea, .detailSection {
    border-radius: 3px;
    background: #fff;
    clear: both;
}
.descriptionArea .descText {
    font-size: 1em;
    height: 40px;
    width: 90%;
    padding: 15px 0 10px;
    float: left;
    text-align: left;
    color: #666;
    margin: 0 0 0 10px;
}
.descriptionArea .descriptionText {
    font-size: 14px;
   /* height: 75px;*/
    width: 96%;
    float: left;
    padding: 0 10px 5px 0;
    text-align: left;
    line-height: 20px;
    margin: 0 0 0 10px;
    overflow: hidden;
}
.descriptionArea .moreText {
    display: block;
    height: 20px;
    width: 40px;
    float: left;
    color: #008bcf;
    cursor: pointer;
    margin: 0 0 10px 10px;
    font-size: .875em;
}
.detailSection {
    height: auto;
    width: 100%;
    margin-top: -8px;
}
.aditnalDetail h3, .dText, .descText, .detailsText, .imgHeader h2 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.dText, .detailsText {
    height: 40px;
    width: 80%;
    padding: 15px 10px 10px;
    text-align: left;
    color: #666;
    float: left;
    font-size: 1em;
}
.detailSection .expandArea {
    float: left;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 5px;
}
.rightTopWrapper {
    padding: 0;
    width: 56%;
    margin: 0;
    float: right;
    height: auto;
    border-radius: 3px;
    border-bottom: none;
}
.rightBottomWrapper, .rightTopWrapper {
    background-color: #fff;
    border: 1px solid #eee;
}
.imgHeader {
    width: 100%;
    min-height: 100px;
}
.adIdText, .imgHeader, .viewNum {
    display: inline-block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.mainHeading {
    width: 95%;
    font-size: 1.438em;
    margin: 20px 0 2px 15px;
    color: #333;
}
.inspectionArea, .mainHeading, .makeNoff, .priceHeading, .priceTrend, .sellerName, .warrantyArea {
    font-weight: 700;
}
.mainHeading, .mobile .daysAgo {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.locations {
    width: 100%;
    height: 45px;
    background-color: #fff;
    padding: 5px 0 0 14px;
    margin-bottom: 16px;
}
.adIdText {
    color: #999;
    padding: 12px 23px 0 0;
}
.adIdText, .locations .locationText, .viewNum {
    font-size: .875em;
    float: left;
}

.adIdText, .imgHeader, .viewNum {
    display: inline-block;
}
.locations .locationText {
    color: #999;
    display: inline-block;
    min-width: 160px;
    margin: 10px 23px 0 0;
}
.adIdText, .locations .locationText, .viewNum {
    font-size: .875em;
    float: left;
}
.viewNum {
    color: #999;
    padding: 9px 23px 0 0;
}
.adIdText, .locations .locationText, .viewNum {
    font-size: .875em;
    float: left;
}
.adIdText, .imgHeader, .viewNum {
    display: inline-block;
}
.rightTopWrapper .daysAgo {
    display: inline-block;
    color: #999;
    font-size: 14px;
    margin: 10px 0;
}
.buyNow, .placeBid {
    padding: 0 0 10px;
    font-size: 18px;
    font-weight: 700;
    display: block;
}
.priceHeading {
    font-size: 30px;
    color: #333;
    float: left;
    padding: 0 10px 0 0;
    width: 400px;
}
.inspectionArea, .mainHeading, .makeNoff, .priceHeading, .priceTrend, .sellerName, .warrantyArea {
    font-weight: 700;
}
.leftTopWrapper .close-slider-popup, .sellerDetails .chatblock, .sliderShow .zoom, sliderShow {
    display: none!important;
}
.close-hu-popup, .close-slider-popup {
	background: url(../../../themes/bo_theme/images/sprite_vap.png)  -103px -329px no-repeat #fff!important;
    height: 24px;
    position: absolute;
    right: -9px;
    top: -12px;
    width: 24px;
    border-radius: 50px;
    z-index: 10;
    border: 1px solid #d7d7d7;
    outline: 0;
}
.close-hu-popup, .close-slider-popup, .close-smo-popup {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
#thumb {     /*thumb slider*/
  width: 100%; 
  height: 80px; 
  margin: 20px 5px; 
}
#thumb li { 
  width: 60px; 
  float: left; 
  margin: 12px; 
  list-style: none 
}
#thumb a { 
  width: 60px; 
  padding: 3px; 
  display: block; 
  border: 3px solid #FFFFFF;
  border-radius:3px;
  box-shadow: 1px 1px 3px #333333;
}
#thumb li.activeSlide a { 
  border: 3px solid #0a526f;
  border-radius:3px;
  box-shadow: 1px 1px 3px #333333;
}
#thumb a:focus { 
  outline: none; 
}
#thumb img { 
  border: none; 
  display: block;
}
.slider{
   margin: 0 auto;
   width: 625px;
   height: 345px;
   border: 8px solid #FFFFFF;
   border-radius:5px;
   box-shadow: 2px 2px 4px;
   position: relative;
}
.slider_next{
   width: 57px;
   height: 57px;
   background: #f8f8f8;
   border-radius: 65px;
   position: absolute;
   z-index: 99;
   top: 136px;
   left: 592px;
   padding: 5px; 
   cursor: pointer;
}
.slider_prev{   /*thumbnail code end*/
   width: 57px;
   height: 57px;
   background: #f8f8f8;
   border-radius: 65px;
   position: absolute;
   z-index: 99;
   top: 136px;
   left: -35px;
   padding: 5px; 
   cursor: pointer;
} 
#sync2 .owl-buttons div.owl-prev:after {
    left: 3px;
    top: -75px;
    background-position: -9px -49px;
    transform: rotate(360deg);
}
.owl-buttons div.owl-prev:after {
    width: 20px;
    height: 34px;
    left: 14px;
    transform: rotate(180deg);
	color:#F00;
}
.owl-buttons div.owl-next:after, .owl-buttons div.owl-prev:after {
    display: inline-block;
}

.owl-buttons div.owl-next:after, .owl-buttons div.owl-prev:after {
    position: absolute;
    background-position: -700px -130px;
    top: 180px;
    content: "";
	color:#F00;
}
#sync2 .owl-buttons div.owl-next:after {
    left: -7px;
    top: -78px;
    background-position: -9px -49px;
    transform: rotate(180deg);
}
.owl-buttons div.owl-next:after {
    color: #fff;
    width: 21px;
    z-index: 1000;
    height: 30px;
    left: -28px;
}
.backToSearch:before, .homeico {
    width: 20px;
    height: 20px;
    background-position: -475px -326px;
    display: inline-block;
}
.pageHeader {
	background:#FFF;
    width: 100%;
    height: 40px;
    padding: 5px;
    max-width: 1280px;
    margin: 0 auto!important;
    float: none;
}
.viewNum:before {
    content: "";
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 3px 0 0;
	background: url(../../../themes/bo_theme/images/sprite_vap.png) -285px -471px;
}
*:before, *:after {
    box-sizing: border-box;
}
.locations .locationText:before {
    display: inline-block;
    float: left;
    height: 21px;
    width: 23px;
    position: relative;
    top: -1px;
	background-position: -208px -92px;
}
.backToSearch:before, .chatNowText:before, .chatText:before, .extendBlock1:before, .extendBlock2:before, .extendBlock3:before, .extendedDetails:after, .locations .locationText:before, .locations .storeBtn:after, .priceTrend:before, .scannerIcon:before {
    content: "";
}
.clearfix {
    display: block;
}
.clearfix {
    display: inline-block;
}

.container {
    width: 1170px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 15px;
}
.category-block {
    padding: 15px 0 0 0;
}
.content-box {
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.content-rows {
    margin-bottom: 18px;
    width: 100%;
    float: left;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
.category-block>ul>li a i {
    color: #999;
    font-size: 42px;
    margin-bottom: 5px;
}
.category-block>ul>li a i, .category-block>ul>li a label, .category-block>ul>li a span {
    display: block;
    text-align: center;
}
.icon-arrow-right {
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.icon-arrow, .icon-arrow-down, .intentexpand, .icon-arrow-right, .icon-arrow-left, .icon-arrow-up {
    font-size: 11px;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;	
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.category-block>ul>li a {
    color: #333;
    display: block;
    padding: 8px 5px;
}
ol, ul {
    list-style: none;
}
.category-block>ul>li {
    float: left;
    border-right: 1px solid #e0e0e0;
    margin-bottom: 15px;
    /*width: 33.33333%;*/
    font-size: 14px;
    position: relative;
}
.verticals .category-block>ul>li {
    width: 14%;
}
@media (min-width:200px)
{
	.leftTopWrapper{width:40%}
	.rightTopWrapper{width:60%; float:left;}
}
.width100 {
    width: 100%!important;
}
.carauselSection {
    padding: 20px 25px 0 30px;
    width: 56%;
    float: right!important;
    border: 1px solid #eee;
    background: #fff;
    height: 310px;
    overflow: hidden;
}
.carauselSection, .chatText, .chatText:before, .deskTab, .ofrCount, .totOfr {
    display: inline-block;
}
@media (min-width: 1200px)
.col-lg-7 {
    width: 58.33333%;
}
.relatedAds {
    margin: 5px 0 10px;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
}
#owl-example2 div.owl-wrapper-outer {
    height: 240px;
    overflow: hidden;
    background-color: transparent;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-wrapper-outer {
    padding-bottom: 2px;
}
.owl-carousel {
    display: block;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-item {
    margin-right: 1px;
}
.owl-carousel .owl-item {
    float: left;
}
.mobile {
    margin: 5px 10px 20px 0;
    width: 195px;
    height: 230px;
    border: 1px solid #e7e7e7;
    float: left;
    border-radius: 3px;
}
.extendedDetails:after, .freeDev:before, .mobile, .sellerInfo, .video {
    position: relative;
}
.greyBack {
    left: 0;
    width: 100%;
    height: 110px;
    position: absolute;
    cursor: pointer;
    text-align: center;
    padding-top: 2px;
    background: #f5f5f5;
}
a:visited {
    color: #008bcf;
}
a {
    text-decoration: none;
    color: #008bcf;
    outline: 0;
}
.itemImg {
    border-radius: 3px;
}
.itemImg {
    max-height: 100%;
    max-width: 100%;
}
.mobile .title {
    margin-top: 125px;
    width: 80%;
    height: 20px;
    color: #008bcf;
    text-align: left;
    padding: 0 0 0 10px;
    white-space: nowrap;
    cursor: pointer;
}
.locationTextArea, .mobile .title {
    text-overflow: ellipsis;
    font-size: .875em;
    float: left;
    overflow: hidden;
}
.locationArea {
    margin: 0 0 5px;
    width: 100%;
    height: 21px;
    float: left;
    text-align: left;
}
.itemPrice {
    width: 80%;
    height: 20px;
    float: left;
    margin: 5px 5px 0 10px;
    font-size: 16px;
    overFlow: hidden;
    color: #666;
}
.mobile .daysAgo {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
    height: 20px;
    font-size: 14px;
    float: left;
    color: #999;
    padding: 2px 5px 0 0;
    margin: 5px 5px 0 10px;
    display: block;
}
.bidNowBtn, .leftTime, .locations .storeBtn, .mobile .daysAgo, .numberOfbids, .padAdvBtn {
    text-align: center;
}
.owl-theme .owl-controls {
    margin-top: 30px;
    text-align: center;
}
#owl-example2.owl-theme .owl-controls .owl-buttons div {
    top: -160px;
}
#owl-example2 div.owl-prev {
    left: -23px;
}
.owl-theme .owl-controls .owl-buttons div {
    color: transparent;
}
.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    opacity: .5;
    width: 20px;
    height: 20px;
    top: 24px;
}
.owl-buttons div.owl-prev {
    left: -20px;
}
.owl-controls .owl-buttons div, .owl-controls .owl-page {
    cursor: pointer;
}

#owl-example2 .owl-buttons div.owl-next {
    right: -20px;
}
.owl-buttons div.owl-next {
    right: -25px;
}

.vap_breadcrumb_hold .next_prev_ad_hold {
    float: right;
}
.vap_breadcrumb_hold .next_prev_ad_hold a.not-active {
    color: #999;
    border-color: #999;
}
.vap_breadcrumb_hold .next_prev_ad_hold a {
    display: inline-block;
    float: left;
    width: 73px;
    border: 1px solid #008bcf;
    color: #008bcf;
    padding: 5px 0;
    font-size: 13px;
    text-align: center;
    background-color: #fff;
    margin-left: -1px;
}
a:visited {
    color: #008bcf;
}
.vap_breadcrumb_hold {
    display: table;
    width: 100%;
    margin-top: -8px;
    padding: 0 15px 10px;
}
.ad_detail_tab_hold .ad_detail_tab_header {
    margin: 20px -24px;
}
.ad_detail_tab_hold .ad_detail_tab_header li a {
    display: block;
    padding: 14px 12px;
    color: #008bcf;
    text-align: center;
    border: 1px solid #eee;
    border-left: none;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold {
    position: relative;
    clear: both;
    padding-top: 20px;
}
.ad_detail_tab_hold .ad_detail_tab_header li a.active {
    padding-top: 13px;
    border-bottom-color: #fff;
}
.ad_detail_tab_hold .ad_detail_tab_header li a.active, .ad_detail_tab_hold .ad_detail_tab_header li a:hover {
    box-shadow: 0 -1px 0 #008bcf;
    border-top: 1px solid #008bcf;
}
.ad_detail_tab_hold .ad_detail_tab_header li a {
    display: block;
    padding: 14px 12px;
    color: #008bcf;
    text-align: center;
    border: 1px solid #eee;
    border-left: none;
}
a:visited {
    color: #008bcf;
}
.active, .escrowpopupWrp .active {
    color: #333!important;
}
.roww {
    margin: 0;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold {
    position: relative;
    clear: both;
    padding-top: 20px;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold .ad_detail_tabs.active {
    display: block;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold .ad_detail_tabs {
    padding: 10px 0;
    display: none;
    max-height: 271px;
    min-height: 271px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold .ad_detail_tabs .ad_detail_title {
    display: inline-block;
    text-align: right;
    width: 30%;
    color: #999;
    margin-right: 4%;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold .ad_detail_tabs .ad_detail_desc {
    display: inline-block;
    text-align: left;
    width: 64%;
    color: #333;
    vertical-align: top;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold .ad_detail_tabs .row:last-child {
    margin-bottom: 0;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold .ad_detail_tabs .row {
    margin-bottom: 20px;
}
.mobile_detail_page_hold .row {
    margin: 0;
}
.ad_detail_tab_hold .ad_detail_tab_detail_hold .ad_detail_tabs p {
    color: #333;
    margin-bottom: 20px;
}
.ad_detail_tab_hold .ad_detail_tab_header li {
    display: inline-block;
    width: 31.8%;
    float: left;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row:after {
    clear: both;
}
a {
    background-color: transparent;
}
.ad_detail_tabs::-webkit-scrollbar {
    width: 5px;
}
.ad_detail_tabs::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    outline: #708090 solid 1px;
}
.ad_detail_tabs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
    -webkit-border-radius: 5px;
}