

@media (min-width: 320px) and (max-width: 480px) {

    .register-logo {
        margin-top: -50px !important;
        margin-left: 70px !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .register-logo {
        margin-top: -50px !important;
        margin-left: 150px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .register-logo {
        margin-top: -50px !important;
        margin-left: 270px !important;
    }
}
